body {
	background: url("../img/homechef-background.jpg");
}

.content {
	width: 1000px;
	margin: 50px auto;
	border-radius: 15px;
	height: 650px;
	background: rgba(255, 255, 255, 0.5);
}

#logo {
	width: 400px;
	border: none;
	display: block;
	margin: 50px auto;
}

.content p {
	text-indent: 35%;
	font-size: 30px;
	font-style: italic;
	padding: 0;
	margin: 0;
}

#indent {
	text-indent: 47%;
}

button {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	font-family: sans-serif;
	padding: 10px 20px;
	font-size: 30px;
	min-width: 96px;
	line-height: 46px;
	color: white;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px #154c86;
	background-color: #247edd;
	background-clip: padding-box;
	border: 1px solid;
	border-color: #1c65b2 #18589c #18589c;
	border-radius: 4px;
	margin: 70px 400px;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}

button:before {
  content: '';
  position: absolute;
  top: -25%;
  bottom: -25%;
  left: -20%;
  right: -20%;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
}

.button:active:before {
  top: -50%;
  bottom: -125%;
  left: -15%;
  right: -15%;
  -webkit-box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
}

button {
  text-shadow: 0 1px #0d4d09;
  background-color: #1ca913;
  border-color: #147b0e #11640b #11640b;
}

button:hover { background-color: #159b0d; }

button:active {
  text-shadow: 0 -1px #0d4d09;
  background: #189210;
  border-color: #093606 #0d4d09 #147b0e;
  background-image: -webkit-linear-gradient(top, #126d0c, #20c016);
  background-image: -moz-linear-gradient(top, #126d0c, #20c016);
  background-image: -o-linear-gradient(top, #126d0c, #20c016);
  background-image: linear-gradient(to bottom, #126d0c, #20c016);
}