p, fieldset {
	background: rgba(255, 255, 255, 0.5);
	width: 90%;
	margin: 2% auto; 
	border-radius: 10px;
}

p {
	border: 2px solid black;
	font-family: 'Hoefler Text', Georgia, serif;
	color: #45a316;
	text-shadow: 0 1px #154c86;
	font-size: 240%;
	padding: 1%;
	text-align: center;
}

.info { display: block; }

fieldset {
	clear: both;
	border: 4px solid black;
	font-size: 190%;
}

label {
	display: block;
	margin: 3% 15%;
}

select {
	width: 70%;
	height: 30px;
}

.button.style {
	font-family: sans-serif;
	margin: 4% 13%;
	font-size: 100%;
	min-width: 10%;
	line-height: 140%;
	padding: 0 1%;
}

.button.style.in {
	margin: 4% 45%;
}