
#logIn, #register {
    position: relative;
	left: 255px;
	top:148px;
}

#registerDiv form {
    display: none;
}

#loginDiv, #registerDiv{
    display: inline-block;
    width: 90%;
    position: relative;
    top: -30px;
	left: -10px;
}

#registerDiv input, #loginDiv input {
    width: 50%;
    height: 10px;
    padding: 1.7em;
    position: relative;
    top: 175px;
    left: 280px;
    margin: 1em;
}

#loginButton, #regButton {
	position: relative;
	cursor: pointer;
    display: inline-block;
	top: 90px;
    left: 279px;
    width: 225px;
    font-size: 15px;
    border-bottom: 2px solid #64B058;
    font-weight: bolder;
    margin: 0em;
    background-color: rgba(106, 212, 106, 0.5);
}

#guest {
	position: relative;
    top: 183px;
	left: 416px;
	padding:0.2em;
}

hr {
	position: relative;
    top: 160px;
    left: 59px;
}