body { 	background: url("../img/background.jpg"); }

p, .result, .scale {
	background: rgba(255, 255, 255, 0.5);
	width: 90%;
	margin: 2% auto; 
	border-radius: 10px;
	text-align: center;
}

p, .result {
	border: 2px solid black;
	font-family: 'Hoefler Text', Georgia, serif;
	color: #45a316;
	text-shadow: 0 1px #154c86;
	font-size: 240%;
	padding: 1%;
}

.scale {
	display: block;
	font-size: 250%;
	font-weight: bold;
	font-family: Arial, sans-serif;
	color: #c1bbbb;
	border: 3px solid black;
}

#text {
	opacity: 0.5;
	vertical-align: middle;
	line-height: 600%;
}

.result { color: black; }